{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/book.css' %}" />
</head>
<body class="book_details_page">
    <div class="book_details">        
            <ul>
                <li>{{ book.title }}</li>
                <li>{{ book.subtitle }}</li>
                <li>{{book.description}}</li>
                <li> {{ book.price }}</li>
                <li> {{ book.genre}}</li>
                <li> {{ book.author }}</li>
                <li> {{ book.year}}</li>                
            </ul>
       
    </div>
</body>
</html>